<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Navigation Start ---------------------------->

    <nav class="nav">
        <div class="nav-menu flex">
            <div class="nav-brand">
                <a href="/home" class="text-grey">Bloggify</a>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/category">Category</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contactus">ContactUs</a>
                    </li>
                    <li class="nav-link">
                        <a href="/login">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="social text-grey">
                <a href="https://www.facebook.com/125blake"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/aye.mr.bisht/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/GaneshB09878823"><i class="fa-brands fa-twitter"></i></a>
                <a href="/about"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </nav>

    <!-------x-------x-------- Navigation End ------x----------x----------->

    <!------------------------- Blog Start -------------------------------->

    <section class="blog">
        <div class="blog-heading">
            <h3>Our Mission</h3>
            <span>About</span>
        </div>
    </section>

    <!------------------------- Blog End -------------------------------->

    <!----------------------- About Container Start --------------------->

    <section>
        <div class="blog-container">

            <!-- box 1 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="image">
                </div>

                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 / Targets</span>
                    <a href="/about" class="blog-title">Upcomming targets</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/about">Read More</a>
                </div>
            </div>

            <!-- box 2 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80"
                        alt="image">
                </div>

                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 /Missions</span>
                    <a href="/about" class="blog-title">Our Missions</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/about">Read More</a>
                </div>
            </div>

            <!-- box 3 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1614036417651-efe5912149d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=919&q=80"
                        alt="image">
                </div>

                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 /Achievements</span>
                    <a href="/about" class="blog-title">Our Accomplishment...</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/about">Read More</a>
                </div>
            </div>
    </section>

    <!------------------------- About Container End -------------------------------->

</body>

</html>