<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Navigation Start ---------------------------->

    <nav class="nav">
        <div class="nav-menu flex">
            <div class="nav-brand">
                <a href="/home" class="text-grey">Bloggify</a>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/category">Category</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contactus">ContactUs</a>
                    </li>
                    <li class="nav-link">
                        <a href="/login">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="social text-grey">
                <a href="https://www.facebook.com/125blake"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/aye.mr.bisht/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/GaneshB09878823"><i class="fa-brands fa-twitter"></i></a>
                <a href="/category"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </nav>

    <!-------x-------x-------- Navigation End ------x----------x----------->

    <!------------------------- Blog Start -------------------------------->

    <section class="blog">
        <div class="blog-heading">
            <h3>All Categorys</h3>
            <span>Find your category</span>
        </div>
    </section>

    <!------------------------- Blog End -------------------------------->

    <!----------------------- Category Container Start --------------------->

    <section>
        <div class="blog-container">

            <!-- box 1 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="image">
                </div>
                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 / Around Me</span>
                    <a href="/category" class="blog-title">People Feeds</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/category">Read More</a>
                </div>
            </div>

            <!-- box 2 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="image">
                </div>

                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 /Community</span>
                    <a href="/category" class="blog-title">Community Post</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/category">Read More</a>
                </div>
            </div>

            <!-- box 3 -->

            <div class="blog-box">

                <!-- img -->

                <div class="blog-img">
                    <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="image">
                </div>

                <!-- text -->

                <div class="blog-text">
                    <span>25 Apr 2022 / Community Feeds</span>
                    <a href="/category" class="blog-title">Live Feeds...</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fugiat dicta quasi error dolore
                        voluptate sed odit beatae minus maiores mollitia impedit distinctio, dignissimos doloremque
                        quamsunt laboriosam? Inventore, temporibus.</p>
                    <a href="/category">Read More</a>
                </div>
            </div>

            <!-- Another section 1 start -->

            <section class="sectionright">
                <div class="para">
                    <p class="headtag"></i>My Quote</p>
                    <p class="contenttag">
                        <i class="fa-solid fa-quote-left"></i>Expressing your thoughts through writing is an art.
                        Never let someone thoughts manuplate your wordings
                        One can never understand the true power of words so embrace it coz it's rare. – Ganesh
                        Bisht<i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
                <div class="thumbnail">
                    <a href="/ganesh">
                        <image src="{{ url_for('static', filename='img/dp.jpg') }}" alt="img">
                    </a>
                </div>
            </section>

            <!-- Another section 1 end -->

        </div>
    </section>

    <!------------------------- Category Container End -------------------------------->

</body>

</html>